*Импортируем библиотеки*

In [1]:
from sqlalchemy import create_engine

import pandas as pd
pd.set_option('display.max_columns', None)

import warnings
warnings.filterwarnings('ignore')

*Создаём подключение к БД*

In [2]:
def connection_yandex_cloud_demo(echo):
    """Connection to DataBase dwh"""
    login = 'student'
    password = 'student!'
    host = 'rc1b-7ng6ih3jte3824x8.mdb.yandexcloud.net'
    port = '6432'
    db_name = 'demo'
    return create_engine(f'postgresql://{login}:{password}@{host}:{port}/{db_name}', echo=echo)

engine_demo = connection_yandex_cloud_demo(echo=True)

*Распаковываем и загружаем данные*

In [ ]:
# import zipfile
# with zipfile.ZipFile('data/fraud.csv.zip', 'r') as archive:
#     archive.extractall('data/')

In [4]:
!ls

HW_7.docx
HW_7.pdf
Lesson_7 (CREATE, ALTER, DROP) CREATE).ipynb
SQL_Lesson_7.pdf
SQL_Lesson_7.pptx
data
~$SQL_Lesson_7.pptx

In [3]:
df = pd.read_csv('data/da_data_n1-2.csv', sep=';')

*Посмотрим на датасет*

In [5]:
df.shape

(126497, 4)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 126497 entries, 0 to 126496
Data columns (total 4 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   product  126497 non-null  object
 1   year     126497 non-null  int64
 2   month    126497 non-null  object
 3   value    126497 non-null  object
dtypes: int64(1), object(3)
memory usage: 3.9+ MB

In [23]:
df.head(5)

           product  year    month  value
0  Фарш мясной, кг  2003   январь  96,59
1  Фарш мясной, кг  2003  февраль  96,72
2  Фарш мясной, кг  2003     март  97,02
3  Фарш мясной, кг  2003   апрель  97,09
4  Фарш мясной, кг  2003      май  97,36

In [19]:
# df

*Посмотрим на пропуски*

In [10]:
df.isna().sum()

product    0
year       0
month      0
value      0
dtype: int64

*Определим первичный ключ*

In [15]:
temp_df = df.groupby(['product', 'year', 'month']).count()

In [17]:
temp_df[temp_df.value > 1]

Empty DataFrame
Columns: [value]
Index: []

*Загрузим данные*

In [20]:
?df.to_sql

In [22]:
df.to_sql(name='goods'
         ,con=engine_demo
         ,schema='public'
         ,if_exists='replace'
         ,index=True)

2024-01-30 21:17:51,774 INFO sqlalchemy.engine.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where n.nspname=%(schema)s and relname=%(name)s
2024-01-30 21:17:51,775 INFO sqlalchemy.engine.Engine [cached since 113.1s ago] {'schema': 'public', 'name': 'goods'}
2024-01-30 21:17:51,842 INFO sqlalchemy.engine.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where n.nspname=%(schema)s and relname=%(name)s
2024-01-30 21:17:51,843 INFO sqlalchemy.engine.Engine [cached since 113.1s ago] {'schema': 'public', 'name': 'goods'}
2024-01-30 21:17:51,896 INFO sqlalchemy.engine.Engine SELECT c.relname FROM pg_class c JOIN pg_namespace n ON n.oid = c.relnamespace WHERE n.nspname = %(schema)s AND c.relkind in ('r', 'p')
2024-01-30 21:17:51,897 INFO sqlalchemy.engine.Engine [cached since 113.1s ago] {'schema': 'public'}
2024-01-30 21:17:51,930 INFO sqlalchemy.engine.Engine
            SELECT c.oid
            FROM pg_catalog.pg_class c
            LEFT JOIN pg_catalog.pg_namespace n ON n.oid = c.relnamespace
            WHERE (n.nspname = %(schema)s)
            AND c.relname = %(table_name)s AND c.relkind in
            ('r', 'v', 'm', 'f', 'p')

2024-01-30 21:17:51,931 INFO sqlalchemy.engine.Engine [cached since 113.1s ago] {'schema': 'public', 'table_name': 'goods'}
2024-01-30 21:17:51,946 INFO sqlalchemy.engine.Engine
            SELECT a.attname,
              pg_catalog.format_type(a.atttypid, a.atttypmod),
              (
                SELECT pg_catalog.pg_get_expr(d.adbin, d.adrelid)
                FROM pg_catalog.pg_attrdef d
                WHERE d.adrelid = a.attrelid AND d.adnum = a.attnum
                AND a.atthasdef
              ) AS DEFAULT,
              a.attnotnull,
              a.attrelid as table_oid,
              pgd.description as comment,
              a.attgenerated as generated,
                              (SELECT json_build_object(
                    'always', a.attidentity = 'a',
                    'start', s.seqstart,
                    'increment', s.seqincrement,
                    'minvalue', s.seqmin,
                    'maxvalue', s.seqmax,
                    'cache', s.seqcache,
                    'cycle', s.seqcycle)
                FROM pg_catalog.pg_sequence s
                JOIN pg_catalog.pg_class c on s.seqrelid = c."oid"
                WHERE c.relkind = 'S'
                AND a.attidentity != ''
                AND s.seqrelid = pg_catalog.pg_get_serial_sequence(
                    a.attrelid::regclass::text, a.attname
                )::regclass::oid
                ) as identity_options
            FROM pg_catalog.pg_attribute a
            LEFT JOIN pg_catalog.pg_description pgd ON (
                pgd.objoid = a.attrelid AND pgd.objsubid = a.attnum)
            WHERE a.attrelid = %(table_oid)s
            AND a.attnum > 0 AND NOT a.attisdropped
            ORDER BY a.attnum

2024-01-30 21:17:51,948 INFO sqlalchemy.engine.Engine [cached since 113.1s ago] {'table_oid': 27022}
2024-01-30 21:17:51,966 INFO sqlalchemy.engine.Engine
            SELECT t.typname as "name",
               pg_catalog.format_type(t.typbasetype, t.typtypmod) as "attype",
               not t.typnotnull as "nullable",
               t.typdefault as "default",
               pg_catalog.pg_type_is_visible(t.oid) as "visible",
               n.nspname as "schema"
            FROM pg_catalog.pg_type t
               LEFT JOIN pg_catalog.pg_namespace n ON n.oid = t.typnamespace
            WHERE t.typtype = 'd'

2024-01-30 21:17:51,967 INFO sqlalchemy.engine.Engine [cached since 113.1s ago] {}
2024-01-30 21:17:51,982 INFO sqlalchemy.engine.Engine
            SELECT t.typname as "name",
               -- no enum defaults in 8.4 at least
               -- t.typdefault as "default",
               pg_catalog.pg_type_is_visible(t.oid) as "visible",
               n.nspname as "schema",
               e.enumlabel as "label"
            FROM pg_catalog.pg_type t
                 LEFT JOIN pg_catalog.pg_namespace n ON n.oid = t.typnamespace
                 LEFT JOIN pg_catalog.pg_enum e ON t.oid = e.enumtypid
            WHERE t.typtype = 'e'
        ORDER BY "schema", "name", e.oid
2024-01-30 21:17:51,983 INFO sqlalchemy.engine.Engine [cached since 113.1s ago] {}
2024-01-30 21:17:52,006 INFO sqlalchemy.engine.Engine
                SELECT a.attname
                FROM pg_attribute a JOIN (
                    SELECT unnest(ix.indkey) attnum,
                           generate_subscripts(ix.indkey, 1) ord
                    FROM pg_index ix
                    WHERE ix.indrelid = %(table_oid)s AND ix.indisprimary
                    ) k ON a.attnum=k.attnum
                WHERE a.attrelid = %(table_oid)s
                ORDER BY k.ord

2024-01-30 21:17:52,007 INFO sqlalchemy.engine.Engine [cached since 113.1s ago] {'table_oid': 27022}
2024-01-30 21:17:52,027 INFO sqlalchemy.engine.Engine
        SELECT conname
           FROM  pg_catalog.pg_constraint r
           WHERE r.conrelid = %(table_oid)s AND r.contype = 'p'
           ORDER BY 1

2024-01-30 21:17:52,028 INFO sqlalchemy.engine.Engine [cached since 113.1s ago] {'table_oid': 27022}
2024-01-30 21:17:52,042 INFO sqlalchemy.engine.Engine
          SELECT r.conname,
                pg_catalog.pg_get_constraintdef(r.oid, true) as condef,
                n.nspname as conschema
          FROM  pg_catalog.pg_constraint r,
                pg_namespace n,
                pg_class c

          WHERE r.conrelid = %(table)s AND
                r.contype = 'f' AND
                c.oid = confrelid AND
                n.oid = c.relnamespace
          ORDER BY 1

2024-01-30 21:17:52,043 INFO sqlalchemy.engine.Engine [cached since 113.1s ago] {'table': 27022}
2024-01-30 21:17:52,062 INFO sqlalchemy.engine.Engine
              SELECT
                  i.relname as relname,
                  ix.indisunique, ix.indexprs,
                  a.attname, a.attnum, c.conrelid, ix.indkey::varchar,
                  ix.indoption::varchar, i.reloptions, am.amname,
                  pg_get_expr(ix.indpred, ix.indrelid),
                  ix.indnkeyatts as indnkeyatts
              FROM
                  pg_class t
                        join pg_index ix on t.oid = ix.indrelid
                        join pg_class i on i.oid = ix.indexrelid
                        left outer join
                            pg_attribute a
                            on t.oid = a.attrelid and a.attnum = ANY(ix.indkey)
                        left outer join
                            pg_constraint c
                            on (ix.indrelid = c.conrelid and
                                ix.indexrelid = c.conindid and
                                c.contype in ('p', 'u', 'x'))
                        left outer join
                            pg_am am
                            on i.relam = am.oid
              WHERE
                  t.relkind IN ('r', 'v', 'f', 'm', 'p')
                  and t.oid = %(table_oid)s
                  and ix.indisprimary = 'f'
              ORDER BY
                  t.relname,
                  i.relname

2024-01-30 21:17:52,063 INFO sqlalchemy.engine.Engine [cached since 113.1s ago] {'table_oid': 27022}
2024-01-30 21:17:52,089 INFO sqlalchemy.engine.Engine
            SELECT
                cons.conname as name,
                cons.conkey as key,
                a.attnum as col_num,
                a.attname as col_name
            FROM
                pg_catalog.pg_constraint cons
                join pg_attribute a
                  on cons.conrelid = a.attrelid AND
                    a.attnum = ANY(cons.conkey)
            WHERE
                cons.conrelid = %(table_oid)s AND
                cons.contype = 'u'

2024-01-30 21:17:52,092 INFO sqlalchemy.engine.Engine [cached since 113.1s ago] {'table_oid': 27022}
2024-01-30 21:17:52,107 INFO sqlalchemy.engine.Engine
            SELECT
                cons.conname as name,
                pg_get_constraintdef(cons.oid) as src
            FROM
                pg_catalog.pg_constraint cons
            WHERE
                cons.conrelid = %(table_oid)s AND
                cons.contype = 'c'

2024-01-30 21:17:52,108 INFO sqlalchemy.engine.Engine [cached since 113.1s ago] {'table_oid': 27022}
2024-01-30 21:17:52,122 INFO sqlalchemy.engine.Engine
            SELECT
                pgd.description as table_comment
            FROM
                pg_catalog.pg_description pgd
            WHERE
                pgd.objsubid = 0 AND
                pgd.objoid = %(table_oid)s

2024-01-30 21:17:52,123 INFO sqlalchemy.engine.Engine [cached since 113.1s ago] {'table_oid': 27022}
2024-01-30 21:17:52,162 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-01-30 21:17:52,164 INFO sqlalchemy.engine.Engine
DROP TABLE public.goods
2024-01-30 21:17:52,165 INFO sqlalchemy.engine.Engine [no key 0.00149s] {}
2024-01-30 21:17:52,203 INFO sqlalchemy.engine.Engine COMMIT
2024-01-30 21:17:52,231 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-01-30 21:17:52,234 INFO sqlalchemy.engine.Engine
CREATE TABLE public.goods (
	index BIGINT,
	product TEXT,
	year BIGINT,
	month TEXT,
	value TEXT
)


2024-01-30 21:17:52,236 INFO sqlalchemy.engine.Engine [no key 0.00138s] {}
2024-01-30 21:17:52,276 INFO sqlalchemy.engine.Engine CREATE INDEX ix_public_goods_index ON public.goods (index)
2024-01-30 21:17:52,278 INFO sqlalchemy.engine.Engine [no key 0.00222s] {}
2024-01-30 21:17:52,305 INFO sqlalchemy.engine.Engine COMMIT
2024-01-30 21:17:52,372 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-01-30 21:17:52,831 INFO sqlalchemy.engine.Engine INSERT INTO public.goods (index, product, year, month, value) VALUES (%(index)s, %(product)s, %(year)s, %(month)s, %(value)s)
2024-01-30 21:17:52,832 INFO sqlalchemy.engine.Engine [generated in 0.38704s] ({'index': 0, 'product': 'Фарш мясной, кг', 'year': 2003, 'month': 'январь', 'value': '96,59'}, {'index': 1, 'product': 'Фарш мясной, кг', 'year': 2003, 'month': 'февраль', 'value': '96,72'}, {'index': 2, 'product': 'Фарш мясной, кг', 'year': 2003, 'month': 'март', 'value': '97,02'}, {'index': 3, 'product': 'Фарш мясной, кг', 'year': 2003, 'month': 'апрель', 'value': '97,09'}, {'index': 4, 'product': 'Фарш мясной, кг', 'year': 2003, 'month': 'май', 'value': '97,36'}, {'index': 5, 'product': 'Фарш мясной, кг', 'year': 2003, 'month': 'июнь', 'value': '97,93'}, {'index': 6, 'product': 'Фарш мясной, кг', 'year': 2003, 'month': 'июль', 'value': '98,02'}, {'index': 7, 'product': 'Фарш мясной, кг', 'year': 2003, 'month': 'август', 'value': '98,44'}  ... displaying 10 of 126497 total bound parameter sets ...  {'index': 126495, 'product': 'Ягоды замороженные, кг', 'year': 2023, 'month': 'сентябрь', 'value': '556,41'}, {'index': 126496, 'product': 'Ягоды замороженные, кг', 'year': 2023, 'month': 'октябрь', 'value': '559,35'})
2024-01-30 21:18:01,557 INFO sqlalchemy.engine.Engine COMMIT
CPU times: user 2.91 s, sys: 150 ms, total: 3.06 s
Wall time: 9.87 s

497

In [ ]:
df.shape[0]

In [ ]:
engine.execute('ALTER TABLE ... ')

На основе загруженных данных создадим представление:
- Наименование товара
- Текущая стоимость товара (последняя из имеющихся данных)
- Минимальная стоимость товара
- Среднегодовая стоимость товара
- Среднемесячная стоимость товара
- Макисмальная стоимость товара