*Импортируем библиотеки*

In [1]:
from sqlalchemy import create_engine

import pandas as pd
pd.set_option('display.max_columns', None)

import warnings
warnings.filterwarnings('ignore')

*Создаём подключение к БД*

In [2]:
def connection_yandex_cloud_demo(echo):
    """Connection to DataBase dwh"""
    login = 'student'
    password = 'student!'
    host = 'rc1b-7ng6ih3jte3824x8.mdb.yandexcloud.net'
    port = '6432'
    db_name = 'demo'
    return create_engine(f'postgresql://{login}:{password}@{host}:{port}/{db_name}', echo=echo)

engine_demo = connection_yandex_cloud_demo(echo=True)

*Распаковываем и загружаем данные*

In [ ]:
# import zipfile
# with zipfile.ZipFile('data/fraud.csv.zip', 'r') as archive:
#     archive.extractall('data/')

In [4]:
!ls

HW_7.docx
HW_7.pdf
Lesson_7 (CREATE, ALTER, DROP) CREATE).ipynb
SQL_Lesson_7.pdf
SQL_Lesson_7.pptx
data
~$SQL_Lesson_7.pptx

In [3]:
df = pd.read_csv('data/da_data_n1-2.csv', sep=';')

*Посмотрим на датасет*

In [5]:
df.shape

(126497, 4)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 126497 entries, 0 to 126496
Data columns (total 4 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   product  126497 non-null  object
 1   year     126497 non-null  int64
 2   month    126497 non-null  object
 3   value    126497 non-null  object
dtypes: int64(1), object(3)
memory usage: 3.9+ MB

In [11]:
df.tail(5)

                       product  year     month   value
126492  Ягоды замороженные, кг  2023      июнь  559,23
126493  Ягоды замороженные, кг  2023      июль  557,83
126494  Ягоды замороженные, кг  2023    август  557,83
126495  Ягоды замороженные, кг  2023  сентябрь  556,41
126496  Ягоды замороженные, кг  2023   октябрь  559,35

*Посмотрим на пропуски*

In [10]:
df.isna().sum()

product    0
year       0
month      0
value      0
dtype: int64

*Определим первичный ключ*

*Загрузим данные*

In [ ]:
?df.to_sql

In [ ]:
df.to_sql(name='goods'
         ,con=engine_demo
         ,schema='public'
         ,if_exists='replace'
         ,index=True)

In [ ]:
df.shape[0]

На основе загруженных данных создадим представление:
- Наименование товара
- Текущая стоимость товара (последняя из имеющихся данных)
- Минимальная стоимость товара
- Среднегодовая стоимость товара
- Среднемесячная стоимость товара
- Макисмальная стоимость товара